@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}
.size-icon{
  font-size: 44px;
  color: #0078f6;
  cursor: pointer;
}
.bd-container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
